@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    scroll-behavior: smooth;
    font-family: "Poppins", sans-serif;
}

:root {
    --text-color: white;
    --bg-color: black;
    --main-color: blue;
    --h1-font: 6rem;
    --h2-font: 3rem;
    --p-font: 1rem;
}

body {
    color: var(--text-color);
    background: var(--bg-color);
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    background: rgba(225, 255, 255, .1);
    display: flex;
    justify-content: space-between;
    align-items: center;
    backdrop-filter: blur(10px);
}

.logo-text {
    font-size: 30px;
    color: var(--text-color);
    font-weight: 700;
    text-decoration: none;
    cursor: default;
}

span {
    color: var(--main-color);
}

.navbar {
    display: flex;
}

.navbar a {
    color: var(--text-color);
    font-size: var(--p-font);
    font-weight: 500;
    margin: 15px 25px;
    transition: all .5s ease;
}

.navbar a:hover {
    color: var(--main-color);
    padding-right: 10px;
}

.social-media {
    display: flex;
    align-items: center;
}

.social-media a {
    vertical-align: middle;
    font-size: 20px;
    margin-right: 18px;
    margin-left: 5px;
    transition: all .5s ease;
}

.social-media a:first-child {
    color: var(--text-color);  
    padding-right: 10px;
}

section {
    padding: 70px 20% 60px;
}

/* home */

.home {
    position: right;
    height: 100vh;
    width: 100%;
    background-image: linear-gradient(to left, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.6)), url(image/mark-patterson-JheMrnD9plU-unsplash.jpg);
    background-size: cover;
    background-position: bottom cover;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.home-text h5 {
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 10px;
    text-transform: uppercase;
    letter-spacing: 6px;
    color: var(--main-color);
}

.home-text h1 {
    font-size: var(--h1-font);
    font-weight: 800;
    line-height: 1.2;
    margin-bottom: 20px;
}

.home-text p {
    font-size: var(--p-font);
    font-weight: 500;
    line-height: 30px;
    color: #ffffffab;
    margin-bottom: 35px;
}

.btn {
    display: inline-block;
    padding: 13px;
    border-radius: 13px;
    background-color: var(--main-color);
    color: var(--text-color);
    font-size: 15px;
    font-weight: 350;
    transition: all 0.50s ease;
    cursor: pointer;
}

.btn:hover {
    transform: translateX(10px);
    border: 5px solid var(--main-color);
    background: transparent;
    color: var(--text-color);
}

/* Information Section */

.container {
    height: 100vh;
    display: flex;
    max-width: 100%;
    background-color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 50px auto;
}

.image-section {
    flex: 1;
}

.image-section img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.text-section {
    flex: 1;
    padding: 20px;
}

.text-section h1 {
    font-family: 'Georgia', serif;
    color: #36517C;
    font-size: 36px;
    margin-bottom: 20px;
}

.text-section p {
    font-family: 'Georgia', serif;
    font-size: 45px;
    color: #444;
    margin-bottom: 20px;
}

.text-section h3 {
    font-family: 'Georgia', serif;
    font-size: 22px;
    margin-bottom: 15px;
    color: #36517C;
}

.text-section ul {
    list-style-type: circle;
    margin-left: 20px;
}

.text-section ul li {
    font-size: 30px;
    margin-bottom: 10px;
    color: black;
}

/* Service Section */
.service {
    text-align: center;
    padding: 70px 20px;
    background-color: #fff;
}

.service h2 {
    font-size: 2.5rem;
    margin-bottom: 40px;
    color: black;
}

.service-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}

.service-item {
    width: 100%;
    height: 100%;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.service-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}

/* Pricing card */
#pricing-card {
    background-color: white;
    display: flex;
    flex-wrap: wrap;
    padding: 0 100px;
    margin-top: 50px;
    border: 10px;
}

.single-class {
    flex-basis: calc(100% / 3);
    padding: 20px;
}

.single-class .wrapper {
    background-color: #c4876a;
    height: 100%;
    padding: 30px;
    border-radius: 20px;
    box-shadow: 3px 5px 10px rgba(0, 0, 0, 0.1);
    transition: .3s;
}

.single-class .wrapper:hover {
    transform: translateY(-5px);
}

.single-class h3 {
    text-align: center;
    font-weight: 600;
}

.single-class h1 {
    margin: 20px 0px;
    font-size: 30px;
    text-align: center;
}

.single-class li {
    list-style: none;
    display: flex;
    align-items: center;
    margin-top: 10px;
}

.single-class span {
    font-size: 12px;
    font-weight: 500;
}

.single-class button {
    height: 40px;
    width: 100%;
    background-color: black;
    color: white;
    border: none;
    outline: none;
    cursor: pointer;
    border-radius: 20px;
    text-transform: uppercase;
    font-weight: 500;
    letter-spacing: .5px;
    margin-top: 30px;
    transition: .3s;
}

.single-class button:hover {
    background: black;
}
/* Pricing card End*/

/* Service Photo */

/* Service Photo End */
